# IDE and OS

.idea/
.vscode/
.DS_Store

# Environment

out/
dist/
coverage/
/target/
.env.local
.env.uat
.env.production

## JavaScript

.nuxt/
.next/
npm-debug.log
node_modules/
.nyc_output
tsconfig.tsbuildinfo

## Project

wrangler.toml
**/.wrangler/*
